@import "../less/colors.less";
@import "../less/fonts.less";
@import "../less/variables.less";

.container {
  width: 100%;
  margin-top: @blockSpacing;

  @media all and (max-width: @mobileLarge) {
    margin-top: @mobileBlockSpacing;
  }
}

.header {
  width: 100%;

  font-size: 2.5rem;
  font-weight: 300;
  letter-spacing: @letterSpacingLarge;
  text-align: center;

  color: @white;

  @media all and (max-width: @mobileLarge) {
    font-size: 1.5rem;
  }
}

.topContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 1rem;

  @media all and (max-width: @mobileLarge) {
    flex-direction: column;
    flex-flow: column-reverse;
  }
}

.description {
  color: @white;
  border-left: 2px solid @secondaryColor;

  letter-spacing: @letterSpacingLarge;

  padding-left: 1rem;
  max-width: 50%;
  min-height: 5rem;

  span {
    color: @secondaryColor;
  }

  @media all and (max-width: 500px) {
    font-size: 0.8rem;
  }

  @media all and (max-width: @mobileLarge) {
    max-width: 100%;
    min-height: 2.5rem;
    margin-bottom: 1rem;
  }
}

.logoContainer {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  @media all and (max-width: @mobileLarge) {
    img {
      width: 75%;
    }
  }

  @media all and (max-width: @mobileLarge) {
    width: 100%;
    img {
      width: 50%;
    }
    margin-top: 1rem;
  }
}

.servise {
  margin-top: 1.5rem;
  width: 100%;

  @media all and (max-width: @mobileLarge) {
    width: calc(100% + 4rem);
    margin-left: -2rem;
  }

  @media all and (max-width: @mobileLarge) {
    margin-top: 0.5rem;
  }
}

.link {
  color: @white;
  width: 100%;
  text-align: center;
  margin-top: 1.5rem;
  font-size: 1.25rem;
  letter-spacing: @letterSpacingLarge;

  a {
    text-decoration: none;
    color: @secondaryColor;
  }

  @media all and (max-width: 450px) {
    font-size: 1rem;
  }
}

.psst1 {
  margin-top: 3rem;
  font-family: @fontPermanentMarker;
  color: @secondaryColor;
}

.psst2 {
  font-family: @fontPermanentMarker;
  color: @secondaryColor;
  margin-left: 1rem;

  width: 15rem;
}

@media all and (max-width: 450px) {
  .psst1 .psst2 {
    font-size: 0.9rem;
  }
}

@media all and (max-width: @mobileLarge) {
  .notMobile {
    display: none;
  }
}

@media all and (min-width: @mobileLarge) {
  .onlyMobile {
    display: none;
    min-height: unset;
  }
}
