@import "./less/colors.less";
@import "./less/fonts.less";
@import "./less/variables.less";

html {
  scroll-behavior: smooth;
}

.app {
  background-color: @primaryColor;
  min-height: 100vh;
  width: 100%;

  padding: 1% 10% @blockSpacing 10%;
  box-sizing: border-box;

  font-family: @fontRoboto;
  letter-spacing: @letterSpacingMedium;

  display: flex;
  justify-content: center;
  overflow: hidden;

  @media all and (max-width: @mobileLarge) {
    padding-bottom: @mobileBlockSpacing;
  }

  @media all and (max-width: 1100px) {
    padding-left: 5%;
    padding-right: 5%;
  }
}

.contentContainer {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 100%;
  max-width: 1300px;
}

.header {
  padding: 1rem 2rem;
  margin: 0 auto;
  width: fit-content;

  font-weight: 300;
  font-size: 50px;
  text-align: center;
  letter-spacing: @letterSpacingLarge;

  color: @white;
  border-bottom: 1px solid @white;

  @media all and (max-width: @mobileLarge) {
    font-size: 30px;
  }

  @media all and (max-width: 340px) {
    font-size: 26px;
  }
}

.hashtag {
  position: absolute;
  right: 0.75rem;
  bottom: 0.75rem;

  width: fit-content;
  color: @primaryColor;
  letter-spacing: @letterSpacingLarge;

  @media all and (max-width: @mobileLarge) {
    width: 100%;
    margin-left: 1rem;

    position: relative;
    top: 2rem;

    font-size: 0.8rem;
    text-align: center;
  }
}

.gifterSeg {
  color: @secondaryColor;
  font-family: @fontPermanentMarker;
  font-size: 1.25rem;
  letter-spacing: @letterSpacingLarge;

  position: absolute;
  top: 4rem;
  right: 17.5vw;
  transform: rotate(-20deg);

  @media all and (min-width: 1200px) {
    right: 25vw;
  }

  @media all and (max-width: @mobileLarge) {
    top: 3rem;
    right: 5vw;
    font-size: 1.1rem;
  }

  @media all and (max-width: 700px) {
    transform: rotate(-7deg);
    top: 5.5rem;
    right: 8vw;
    font-size: 0.8rem;
  }

  @media all and (max-width: 400px) {
    transform: rotate(-20deg);
    top: 5rem;
    right: 3vw;
  }
}

.date {
  color: @white;
  margin: 1rem 0;

  font-weight: 300;
  font-size: 20px;

  @media all and (max-width: @mobileLarge) {
    font-size: 15px;
  }
}

.headerImageContainer {
  position: relative;
  width: 100%;

  @media all and (max-width: 600px) {
    width: 200%;
  }

  @media all and (max-width: 900px) {
    width: 150%;
  }

  img {
    width: 100%;
  }
}

.menuBar  {
  @media all and (max-width: @mobileLarge) {
    display: none;
  }

  margin-top: 1.5rem;
  display: flex;
  flex-direction: row;
}

.menuItem {
  font-family: @fontRoboto;
  letter-spacing: @letterSpacingLarge;
  color: @white;

  @media all and (max-width: 625px) {
    font-size: 0.8rem;
    letter-spacing: @letterSpacingSmall;
  }

  &::after {
    content: "|";
    font-weight: 400;
    color: @secondaryColor;
    margin: 0 1rem;
  }

  &:last-of-type::after {
    content: none;
  }

  &:hover {
    cursor: pointer;
    font-weight: 800;
  }
}
